<!DOCTYPE html>
<html>
<head>
  <title>Rlz</title>
  <%= stylesheet_link_tag :all %>
  
  <!--
  <script 
        src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAJyV1ORtpp9xhLyvSADHp1xRPdtMTe9TeYLcHs6Ihbwt_ci8wnRTKYW9rBdd7x_A0bp-DVbzp4BMhqw" 
        type="text/javascript"></script>
-->
  <script 
        src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAJyV1ORtpp9xhLyvSADHp1xT2yXp_ZAY8_ufC3CFXhHIE1NvwkxT3DY5aYzEYCx--GEgJuKSQR5KanQ" 
        type="text/javascript"></script>
        
  <script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    type="text/javascript">
  </script> 

  
  <script type="text/javascript">
      var geocoder = null;
      var map = null;
      
      
      var blue_icon = new GIcon( G_DEFAULT_ICON );
      blue_icon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png";

      var red_icon = new GIcon( G_DEFAULT_ICON );
      red_icon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png";
      
      var green_icon = new GIcon( G_DEFAULT_ICON );
      green_icon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png";
      
      var yellow_icon = new GIcon( G_DEFAULT_ICON );
      yellow_icon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/yellow-dot.png";
      
      
      var stations = [ 
      <% STATIONS.each do |station| %>
            {
            id : <%= station[ :id ] %>,
            color : '<%= station[ :color ] %>',
            name : '<%= station[ :name ] %>',
            lat : <%= station[ :coordinates ][ :lat ] %>,
            lng : <%= station[ :coordinates ][ :lng ] %>
            },
      <% end -%>
      ];
      
      
      var trains_markers = new Array();
      
      
      function addStationOnMap( id, color, name, lat, lng ) {
        var options = {
        title: '#' + id + ' ' + name,
        icon : GIcon( G_DEFAULT_ICON ),
        };
        
        switch ( color )
            {
            case 'red' :
                options.icon = red_icon;
                break;
                
            case 'green' :
                options.icon = green_icon;
                break;
                
            case 'blue' :
                options.icon = blue_icon;
                break;
            }
            
        options.icon.iconSize.width = 32;
        options.icon.iconSize.height = 32;
            
        var marker = new GMarker( new GLatLng( lat, lng ), options );
        map.addOverlay( marker );            
      }
        

      function MapInit() {
        geocoder = new GClientGeocoder();
        map = new GMap2( document.getElementById( "map" ) );
        map.setCenter( new GLatLng( 50.479357,30.522766 ), 11 );
        map.setUIToDefault();
        map.disableScrollWheelZoom();  
        
        $.each( stations, function( index, value ) { 
            addStationOnMap( value.id, value.color, value.name, value.lat, value.lng );
        }); 
      }


      
      function updateTrainsPos()
      {
          //$.get( '/home/trains.json', function( trains ) {
            trains = [
                {
                id : 1,
                lat : 50.464853086055115,
                lng : 30.354784727096558100
                }
            ];
            
            $.each( trains, function( index, train ) {
                
                latlng = new GLatLng( train.lat, train.lng );
                marker = trains_markers[ train.id ];
                
                if ( marker )
                    {
                    marker.setLatLng( latlng );
                    }
                else
                    {
                    marker = new GMarker( latlng, { icon:yellow_icon } );
                    map.addOverlay( marker );    
                    }
            });
          //});
      }


      $(document).ready(function(){
          MapInit();
          setInterval( updateTrainsPos, 1000 );
      })
    </script>
  
  
  <%= csrf_meta_tag %>
  
</head>

<body onunload="GUnload(); return false;">
<%= yield %>
</body>

</html>
